/* Resetando os valores do espaçamento do navegador */

* {
    margin: 0;
    padding: 0;
}

h4 {
    /* Tamanho da fonte */
    font-size: 32px;
    /* Cor da fonte */
    color: white;
    /* Cor de fundo */
    background-color: rgb(80, 70, 70);
    /* Cor da borda, a largura da borda e a borda é solida. */
    border: red 2px solid;
    /* Familia da fonte */
    font-family: sans-serif;
    /* Centraliza o texto */
    text-align: center;
    /* Deixa a borda arredondada na "curva" */
    border-radius: 5px;
    /* Borda interna */
    padding: 5px;
}

/* Estilizando a nav da classe menu */

.menu {
    /* background-size: cover;
    display: block; */
    width: 100%;
    height: 70px;
    background-color: #2b1010;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 200px;
    float: left;
}

.menu a {
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #2b1010;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #862175;
    color: yellowgreen;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}